body{
  background-image: url(../img/parizh-eyfeleva-bashnya-dostoprimechatelnost-park.jpg);
}
h1{
  font-family: 'Times New Roman';
  font-size: 40px ;
}
p{
  font-size: 20px ;
}
h2{
  color: darkviolet;
}
aside{
  text-align: center;
}